@model Library.FrontModels.AuthLogin

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @FrontWeb.Helpers.LoginHelper.CreateLogin()
    </div>
</div>

<div>
    <a asp-action="Register" asp-controller="Login">Go to registration</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
