@model Library.Context.Models.Contact
<td>
    @Html.DisplayFor(item => item.ContactName)
</td>
<td>
    @Html.DisplayFor(item => item.ContactSurname)
</td>
<td>
    @Html.DisplayFor(item => item.PhoneNumber)
</td>