@model IEnumerable<Library.Context.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}



<h1>Contacts</h1>

<p>
    <a asp-action="CreateContact">Create New</a>
</p>
<h3>
    Контакты
</h3>
<table class="table-condensed">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Номер телефона</td>
        <td></td>
    </tr>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.ContactName</td>
            <td>@contact.ContactSurname</td>
            <td>@contact.PhoneNumber</td>
            <td><a href="~/Home/DeleteContact?id=@contact.ContactId">Удалить</a></td>
            <td><a href="~/Home/UpdateContact?id=@contact.ContactId">Изменить</a></td>
        </tr>
    }
</table>
